*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.R
data/cases.csv
prediction_results_files/
figs/
posterior.pkl
rt_prediction.csv
prediction.hd5
pred_to_plot.csv
prediction_results.Rmd
prediction_results.pdf
covid/__pycache__/
covid/impl/__pycache__/
